.btn {
    color: white;
    display: inline-block;
    margin: 0 0 20px;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
    }
}
.btn--sm {
    border-radius: 3px;
    font-size: 15px;
    padding: 8px 20px;
}
.btn--lg {
    border-radius:5px;
    padding: 12px 10%;
    font-size: 18px;
    box-shadow: rgba(0,0,0,0.1) 0 -3px 0 inset;
}
.btn--blue {
    background-color: $primary-blue;
    &:hover {
        background-color: $blue-dark;
    }
}
.btn--blueborder {
    border-radius: 0;
    color: $primary-blue;
    border: 1px solid $primary-blue;
    box-shadow: rgba(0,0,0,0) 0 0 0;
}
.btn--pink {
    background-color: #e81e75;
    &:hover {
        background-color: #a81152;
    }
}
.btn--pinkborder {
    border-radius: 0;
    color: #e81e75;
    border: 1px solid #e81e75;
    box-shadow: rgba(0,0,0,0) 0 0 0;
}
.btn--yellow {
    color: #e81e75;
    background-color: #fcff00;
}
.btn--whiteborder {
    border-radius: 0;
    color: white;
    border: 1px solid white;
    box-shadow: rgba(0,0,0,0) 0 0 0;
}
.btn--black {
    background-color: black;
}
.btn--green {
    background-color: $kktix-green;
    &:hover {
        background-color: $kktix-green-dark;
    }
}
.btn--gray {
    background-color: #545454;
}
.btn--full {
    text-align: center;
    display: block;
}