@import 'variables';
@import 'clearfix';

footer {
    background-color: #333;
    border-bottom: 2px solid #878787;
    padding-bottom: 85px;
    @include clearfix();
}
.footer-sns {
    padding: 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid $text-gray;
    .fa {
        font-size: 24px;
    }
    a {
        color: $text-gray;
        margin-right: 30px;
    }
    a:hover,
    a:link,
    a:active,
    a:visited {
        color: $text-gray;
        text-decoration: none;
    }

    @media(min-width: 992px) {
        padding: 60px 0;
    }
}
.footer-contact {
    margin-top: 15px;
    padding-right: 30px;
    color: $text-gray;
    font-size: $font-size-xs;

    @media(min-width: 992px) {
        float: left;
        width: 30%;
    }
}
.footer-nav {
    margin-top: 15px;
    @media(min-width: 992px) {
        float: left;
        width: 50%;
    }
    > li {
        display: block;
        width: 100%;

        @media(min-width: 992px) {
            display: list-item;
            float: left;
            width: 38%;
        }
    }
    > li:last-child {
        @media(min-width: 992px) {
            width: 24%;
        }
    }
    h5 {
        font-size: $font-size-xs;
        color: #fff;
        margin-bottom: 12px;
    }
}
.footer-subnav {
    a {
        color: $text-gray;
        font-size: $font-size-xs;
    }
    a:hover,
    a:link,
    a:active,
    a:visited {
        color: $text-gray;
        text-decoration: none;
    }
}
.footer-cis {
    margin-top: 15px;
    @media(min-width: 992px) {
        float: left;
        width: 20%;
        text-align: right;
        margin-top: 0;
    }
    .tel {
        font-size: 30px;
        white-space: nowrap;
        color: #fff;
        &:hover,
        &:link,
        &:active,
        &:visited {
            color: #fff;
            text-decoration: none;
        }
    }
}