.icon {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.icon-26-listadd, .icon-26-listplay-now, a:hover .icon-26-listplay, ul.song-list .highlight .icon-26-listplay, ul.song-list .playing .icon-26-listplay, .icon-26-listplay, .icon-26-more {
    width: 26px;
    height: 26px;
    background-image: url('../images/icons/icon-26-s8c732e1f1e.png');
    background-repeat: no-repeat;
    @media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3 / 2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 1.5dppx) {
            background-image: url('../images/icons/icon-26-retina-s6695f14de3.png');
            background-size: 26px auto;
       }
}

.icon-26-listadd {
    background-position: 0 0;
}

.icon-26-listplay {
    background-position: 0 -52px;
}

.icon-26-listplay-now, a:hover .icon-26-listplay, ul.song-list .highlight .icon-26-listplay, ul.song-list .playing .icon-26-listplay {
    background-position: 0 -26px;
}

.icon-28-share-fb, .icon-28-share-gplus, .icon-28-share-line, .icon-28-share-tt, .icon-28-share-weibo {
    width: 28px;
    height: 28px;
    background-image: url('../images/icons/icon-28-s55696b2020.png');
    background-repeat: no-repeat;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
}

.icon-28-share-fb {
    background-position: 0 0;
}

.icon-28-share-gplus {
    background-position: 0 -28px;
}

.icon-28-share-line {
    background-position: 0 -56px;
}

.icon-28-share-tt {
    background-position: 0 -84px;
}

.icon-28-share-weibo {
    background-position: 0 -112px;
}

@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3 / 2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 1.5dppx) {
    .icon-28-share-fb, .icon-28-share-gplus, .icon-28-share-line, .icon-28-share-tt, .icon-28-share-weibo {
        background-image: url('../images/icons/icon-28-retina-s646c31d91d.png');
        background-size: 28px auto;
    }
}

.icon-36-play {
    width: 36px;
    height: 36px;
    background: url('../images/icons/icon_play.png') top center no-repeat;
    background-size: 36px;
}
.icon-36-add {
    width: 36px;
    height: 36px;
    background: url('../images/icons/icon_add.png') top center no-repeat;
    background-size: 36px;
}

.icon-45-onadd, .icon-45-onplay, .icon-45-share {
    width: 45px;
    height: 45px;
    background-image: url('../images/icons/icon-45-s8bd1b7d463.png');
    background-repeat: no-repeat;
}
.icon-45-onadd {
    background-position: 0 0;
}
.icon-45-onplay {
    background-position: 0 -45px;
}
.icon-45-share {
    background-position: 0 -90px;
}
@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3 / 2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 1.5dppx) {
    .icon-45-onadd, .icon-45-onplay, .icon-45-share {
        background-image: url('../images/icons/icon-45-retina-s345b95c469.png');
        background-size: 45px auto;
    }
}
.icon-social, .share-box .btn-share-box:before {
  width: 28px;
  height: 28px;
}
.icon-social-sprite, .icon-social-facebook, .share-box .btn-share-box.facebook:before, .icon-social-google-plus, .share-box .btn-share-box.google-plus:before, .icon-social-twitter, .share-box .btn-share-box.twitter:before, .icon-social-weibo, .share-box .btn-share-box.weibo:before {
  background-image: url('../images/icons/icon-social-s9dfb1421c1.png');
  background-repeat: no-repeat;
}

.icon-social-facebook, .share-box .btn-share-box.facebook:before {
  background-position: 0 0;
}

.icon-social-google-plus, .share-box .btn-share-box.google-plus:before {
  background-position: 0 -28px;
}

.icon-social-twitter, .share-box .btn-share-box.twitter:before {
  background-position: 0 -56px;
}

.icon-social-weibo, .share-box .btn-share-box.weibo:before {
  background-position: 0 -84px;
}

.icon-social-retina-sprite {
  background-image: url('/images/icons/icon-social-retina-s447ee251d3.png');
  background-repeat: no-repeat;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-social-all-retina-sprites, .icon-social-facebook, .share-box .btn-share-box.facebook:before, .icon-social-google-plus, .share-box .btn-share-box.google-plus:before, .icon-social-twitter, .share-box .btn-share-box.twitter:before, .icon-social-weibo, .share-box .btn-share-box.weibo:before {
    background-image: url('../images/icons/icon-social-retina-s447ee251d3.png');
    -moz-background-size: 28px auto;
    -o-background-size: 28px auto;
    -webkit-background-size: 28px auto;
    background-size: 28px auto;
  }

  .icon-social-facebook, .share-box .btn-share-box.facebook:before {
    background-position: 0 0;
  }

  .icon-social-google-plus, .share-box .btn-share-box.google-plus:before {
    background-position: 0 -28px;
  }

  .icon-social-twitter, .share-box .btn-share-box.twitter:before {
    background-position: 0 -56px;
  }

  .icon-social-weibo, .share-box .btn-share-box.weibo:before {
    background-position: 0 -84px;
  }
}

