%item {
    position: relative;
    margin: 0 auto 20px;
    background-color: white;
    .cover {
        display: block;
        position: relative;
        height: 0;
        padding-top: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
        }
        .overlay {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .overlay {
                display: block;
            }
            .btn-cover-play {
                display: block;
            }
        }
    }
    h3 {
        font-size: $font-size-base;
        line-height: $headings-line-height;
        height: $font-size-base * $headings-line-height * 2; // two lines
        margin: 0;
        overflow: hidden;
        &.item-h { // one line
            height: $font-size-base * $headings-line-height;
        }
        a {
            color: $gray-darkest;
        }
    }
    h4 {
        color: $gray;
        margin: 0;
        font-size: $font-size-xs;
        overflow: hidden;
        a {
            color: $gray;
            &:hover {
                color: $link-hover-color;
            }
        }
    }
     h3 + h4 {
        margin-top: 5px;
    }
    .height-wrap {
        overflow: hidden;
        box-sizing: content-box;
        padding: 17px 15px 12px;
        position: relative;
    }
    .tags {
        height: 45px;
        overflow-y: hidden;
        li {
            float: left;
            background-color: $gray-lighter;
            border-radius: $border-radius-small;
            margin: 0 5px 3px 0;
        }
        a {
            color: $gray;
            font-size: 9px;
            padding: 3px 7px;
            -webkit-text-size-adjust: 100%; // make font-size in chrome under 11px
            &:before {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                border: 1px solid $blue;
                border-radius: $round;
                margin-right: 3px;
            }
        }
    }
    h3 + .tags {
        margin-top: 15px;
    }
    h5 {
        font-size: $font-size-small;
        color: $secondary-text;
        margin: 5px 0 0;
    }
    &.no-shadow {
        border-bottom: 0;
        .height-wrap {
            padding-left: 0;
            padding-right: 0;
        }
        .icon-explicit {
            bottom: 0;
        }
    }
    .icon-explicit {
        position: absolute;
        right: 0;
        bottom: 9px;
    }

    // centered single column on mobile
    width: 300px;
    @media (min-width: $screen-sm-min) {
        width: auto;
    }
    @media (min-width: $screen-md-min) {
        width: auto;
    }
    @media (min-width: $screen-lg-min) {
        width: auto;
    }
}
.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    button {
        background-color: transparent;
        opacity: 0.75;
        padding: 0;
        border: 0;
        .icon {
            margin: 0 2px;
            opacity: 0.75;
        }
        &:hover .icon {
            opacity: 1;
        }
    }
    a .icon {
        margin: 0 2px;
        opacity: 0.75;
    }
    a:hover .icon {
        opacity: 1;
    }
}
.overlay-more {
    text-align: center;
    position: absolute;
    bottom: 11px;
    width: 100%;
    a, a:hover {
        text-decoration: none;
        font-size: $font-size-small;
        color: white;
    }
}
.overlay-action {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.item-h {
    @extend %text-ellipsis;
}
.album, .playlist, .mv, .photo, .artist, .three-head, .cover-only {
    @extend %item;
}
.artist {
    .cover {
        border-bottom: 1px solid $gray-lighter;
        > a {
            display: block;
        }
    }
    img {
        padding: 10px;
        border-radius: $round;
    }
    h3 {
        font-size: $font-size-ms;
        text-align: center;
    }
    .height-wrap {
        padding-top: 8px;
    }
    &.no-shadow {
        .cover {
            border-bottom: 0;
        }
        img {
            padding: 0;
        }
    }
}
.album, .playlist, .mv, .headline {
    border-bottom-right-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
    border-bottom: 1px solid $gray-light;
}
// tablet view 一排有6張歌單卡時，下面給三行字空間
.col-xs-2 .playlist {
    h3 {
        height: $font-size-base * $headings-line-height * 3; // three lines
    }
    .height-wrap {
        padding: 9px 8px 6px;
    }
    @media (min-width: $screen-md) {
        h3 {
            height: $font-size-base * $headings-line-height * 2; // two lines
        }
        .height-wrap {
            padding: 17px 15px 12px;
        }
    }
}
.playlist-sharer {
    padding: 8px 15px;
    height: 46px;
    border-top: 1px solid $gray-lighter;
    background-color: white;
    .headshot {
        float: left;
        img {
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }
    }
    .name {
        margin-top: 7px;
        font-size: $font-size-xs;
        -webkit-text-size-adjust: 100%; // make font-size in chrome under 11px
    }
}
.mv {
    .cover {
        padding-top: 56.65%; // 16:9
    }
    .btn-cover-play {
        position: absolute;
        display: none;
        width: 60px;
        height: 60px;
        background: url('../images/icons/btn-play.png') no-repeat center center;
        background-size: 100% auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}
