$font-family-base: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", sans-serif;

$font-size-xs: 13px;
$font-size-base: 14px;
$font-size-md: 18px;

$font-size-h2: 36px;
$font-size-h3: 24px;

$line-height-base:     1.4;

$zebra-bg1: #ece9e7;
$zebra-bg2: #ffefe3;

$text-gray: #878787;
$orange: #fb5521;