@import 'variables';
@import 'ellipsis';
@import 'clearfix';

@media (min-width: 0) and (max-width: 991px) {
    @import 'header-mobile';
}
@media (min-width: 992px) {
    @import 'header';
}
@import 'footer';

@import 'sidebar';
@import 'pagination';

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
}
.clearfix {
    @include clearfix();
}

body {
    background-color: #f8f8f8;
    font-size: $font-size-base;
    font-family: $font-family-base;
    padding-top: 66px;

    @media(min-width: 992px) {
        padding-top: 85px;
    }
}
.breadcrumb {
    background-color: transparent;
    color: #868686;
    a,
    a:link,
    a:visited,
    a:active,
    span {
        font-size: 14px;
        color: #868686;
    }
}
.full-width {
    @include clearfix();
    padding: 0 0 80px;
}
.full-width--orange {
    background-color: $orange;
}
.full-width--white {
    padding: 35px 0 70px;
    background-color: #fff;
    @media(min-width: 992px) {
        padding: 85px 0 100px;
    }
}
.full-width--almond {
    padding: 95px 0 0;
    margin-bottom: 90px;
    background-color: #ffefe3;
}
.full-width--beige {
    padding: 60px 0 80px;
    background-color: #ece9e7;
}
.section--white {
    background-color: #fff;
}
.section--beige {
    background-color: #ece9e7;
}
.section-title {
    text-align: center;
    color: #000;
    font-size: $font-size-h2;
    margin-top: 40px;
}
.section-subtitle {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 30px;
}
.media-subtitle {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}
.section-subtitle--gray {
    text-align: center;
    color: #8f8f8f;
    font-size: 18px;
    margin-bottom: 30px;
}
.section-text {
    color: #808080;
    font-size: 18px;
    margin-bottom: 30px;
}
.title--white {
    color: #fff;
}
.btn-action--hollow {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: $orange;
    border: 1px solid $orange;
    border-radius: 2px;
    padding: 18px 0;
    width: 420px;
    max-width: 100%;
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: $orange;
        text-decoration: none;
    }
}
.btn-action {
    position: relative;
    width: 100%;
    display: table;
    font-size: 30px;
    color: #fff;
    text-align: right;
    height: 147px;
    padding-left: 120px;
    padding-right: 5%;
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: #fff;
        text-decoration: none;
    }

    @media(min-width: 768px) {
        font-size: 36px;
    }
}
.btn-action--orange {
    background-color: $orange;
    background: $orange url('/images/icon-book.png') 15px center no-repeat;
}
.btn-action--black {
    background-color: #000;
}
.btn-action--narrow {
    font-size: 28px;
    height: 80px;
}
.banner-contact {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: table;
    height: 147px;
    background: #000 url('/images/icon-contact.png') 15px center no-repeat;
    font-size: 18px;
    color: #fff;
    padding: 0 40px 0 120px;
    margin-bottom: 15px;
    .tel {
        font-size: 22px;
        white-space: nowrap;

        @media(min-width: 992px) {
            font-size: 34px;
        }
        @media(min-width: 1200px) {
            font-size: 45px;
        }
    }
}
.btn-inner {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.banner-contact--xl {
    @include clearfix();
    background-color: #fff;
    padding: 20px;
    margin: 20px 0 60px;
    line-height: 1.1;
    .tel {
        font-size: 36px;
        color: #000;
        margin-bottom: 15px;
    }
    @media(min-width: 992px) {
        padding: 40px 70px;
        margin: 60px 0 100px;
        .tel {
            font-size: 48px;
            margin-bottom: 0;
        }
    }
}
.banner-contact-left {
    font-size: 24px;
    color: #000;
    span {
        color: $orange;
        font-size: 14px;
    }
    @media(min-width: 992px) {
        float: left;
        padding-top: 10px;
    }
}
.banner-contact-right {
    span {
        font-size: 18px;
        color: #808080;
    }
    .remark {
        color: $orange;
        display: block;
    }
    @media(min-width: 992px) {
        float: right;
        text-align: right;
        .remark {
            display: inline;
        }
    }
}
.banner-contact-remark {
    font-size: 18px;
    color: $orange;
}
.remark {
    font-style: normal;
    color: $orange;
}
.tel {
    font-family: "PT sans", sans-serif !important;
}
.u-align-center {
    @include clearfix();
    text-align: center;
    margin: inherit auto;
}
.u-align-left {
    text-align: left;
}
.u-overlap-section {
    @media(min-width: 992px) {
        margin-top: -250px;
    }
}
#video {
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    [class*='col-'] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
.privacy {
    margin-top: 50px;
    .section-title {
        margin-bottom: 40px;
    }
    .section-text {
        margin-bottom: 50px;
    }
    @media(min-width: 992px) {
        margin-top: 130px;
    }
}
.privacy-subtitle {
    font-size: 24px;
    margin-bottom: 25px;
    &:before {
        content: '●';
        color: $orange;
        font-size: 40px;
        vertical-align: sub;
    }
}
