@import 'variables';
@import 'ellipsis';
@import 'clearfix';

@import 'header';
@import 'footer';

@import 'sidebar';
@import 'pagination';

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
}
.clearfix {
    @include clearfix();
}

body {
    background-color: #f8f8f8;
    font-size: $font-size-base;
    font-family: $font-family-base;
    padding-top: 85px;
}
.full-width {
    @include clearfix();
    padding: 0 0 80px;
}
.full-width--orange {
    background-color: $orange;
}
.full-width--white {
    background-color: #fff;
}
.section-title {
    text-align: center;
    color: #000;
    font-size: $font-size-h2;
    margin-top: 40px;
}
.section-subtitle {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 30px;
}
.section-subtitle--gray {
    text-align: center;
    color: #8f8f8f;
    font-size: 18px;
    margin-bottom: 30px;
}
.section-text {
    text-align: center;
    color: #808080;
    font-size: 18px;
    margin-bottom: 30px;
}
.title--white {
    color: #fff;
}
.u-align-center {
    @include clearfix();
    text-align: center;
    margin: auto;
}
.btn-action--hollow {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: $orange;
    border: 1px solid $orange;
    border-radius: 2px;
    padding: 18px 0;
    width: 420px;
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: $orange;
        text-decoration: none;
    }
}
.btn-action {
    width: 100%;
    display: table;
    font-size: 36px;
    color: #fff;
    text-align: right;
    height: 147px;
    padding-left: 120px;
    padding-right: 10%;
    background: #000 url('/images/icon-book.png') 15px center no-repeat;
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: #fff;
        text-decoration: none;
    }
}
.btn-action--orange {
    background-color: $orange;
}
.btn-action--black {
    background-color: #000;
}
.banner-contact {
    width: 100%;
    display: table;
    height: 147px;
    background: #000 url('/images/icon-contact.png') 15px center no-repeat;
    font-size: 18px;
    color: #fff;
    padding: 0 40px 0 120px;
    .tel {
        font-size: 45px;
        white-space: nowrap;
    }
}
.btn-inner {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.banner-contact-xl {
    @include clearfix();
    background-color: #fff;
    .tel {
        font-size: 48px;
        color: #000;
    }
}
.banner-contact-left {
    float: left;
    font-size: 24px;
    color: #000;
    span {
        color: $orange;
        font-size: 14px;
    }
}
.banner-contact-right {
    float: right;
    span {
        font-size: 18px;
        color: #808080;
    }
}
.banner-contact-remark {
    font-size: 18px;
    color: $orange;
}
#video {
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    [class*='col-'] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
