<h2>Buttons</h2>
<div class="doc">
    <h3>Button Class 說明 <code>[.btn][大小][款式][滿版]</code></h3>

    <ul>
        <li>基礎 class，一定要加：<code>.btn</code></li>
        <li>大小：<code>.btn--lg</code><code>.btn--sm</code></li>
        <li>實色：<br>
            藍 <code>.btn--blue</code><br>
            桃紅 <code>.btn--pink</code><br>
            黃 <code>.btn--yellow</code><br>
            黑 <code>.btn--black</code><br>
            綠 (KKTIX) <code>.btn--green</code><br>
            灰 (or Disabled) <code>.btn--gray</code><br>
        </li>
        <li>空心彩框：<br>
            藍框 <code>.btn--blueborder</code><br>
            桃紅框 <code>.btn--pinkborder</code><br>
            白框 <code>.btn--whiteborder</code><br>
        </li>
        <li>滿版：<code>.btn--full</code></li>
    </ul>
</div>

<h3>大 Button</h3>
<a class="btn btn--lg btn--blue" href="#">KKBOX 儲值序號購買方式</a>
<a class="btn btn--lg btn--pink" href="#">得獎名單</a>
<a class="btn btn--lg btn--yellow" href="#">立享活動優惠</a>
<a class="btn btn--lg btn--black" href="#">走這裡</a>
<a class="btn btn--lg btn--green" href="#">立即購票</a>
<a class="btn btn--lg btn--gray" href="#">下次再來</a>
<h3>小 Button</h3>
<a class="btn btn--sm btn--blue" href="#">開啟 KKBOX</a>
<a class="btn btn--sm btn--pink" href="#">前往抽獎</a>
<a class="btn btn--sm btn--black" href="#">詳全文</a>
<a class="btn btn--sm btn--green" href="#">搶票去</a>
<h3>線框 button</h3>
<a class="btn btn--lg btn--blueborder" href="#">註冊 KKBOX</a>
<a class="btn btn--sm btn--pinkborder" href="#">前往抽獎</a>
<a class="btn btn--sm btn--blueborder" href="#">下載 KKBOX</a>
<a class="btn btn--sm btn--whiteborder" href="#">白金會員再加碼</a>
<h3>滿版</h3>
<a class="btn btn--lg btn--green btn--full" href="#">立即購票</a>
<a class="btn btn--sm btn--pink btn--full" href="#">前往抽獎</a>
<a class="btn btn--lg btn--blueborder btn--full" href="#">KKBOX 儲值序號購買方式</a>
