<div class="card-trip">
    <a href="#">
        <img class="card-img" src="https://dummyimage.com/270x200/000000/ffffff" alt="">
        <div class="card-text">
            <h4 class="card-desc">【特色園地】是體驗豐富的自然生態、親子渡假共度好時光、情人浪漫約會，都是您外出遊玩的最佳去處</h4>
            <h5 class="card-date">2016.01.30 Two Days Tour</h5>
        </div>
    </a>
</div>