<div class="card-video">
    <a href="#">
        <img class="card-img" src="images/DSC00317.JPG" alt="">
        <div class="card-text">
            <h3 class="card-title">邀請好友一起來玩吧</h3>
            <h4 class="card-subtitle">感受台灣之美，最棒的旅遊體驗</h4>
        </div>
    </a>
</div>