<div class="full-width full-width--white">
    <div class="container">
        <h2 class="section-title">立即自訂行程</h2>
        <h4 class="section-subtitle">即刻就來台灣旅遊吧 !</h4>
        <p class="section-text u-align-center">服務更多元，旅程更豐富，為您量身訂作的美好旅程<br>現在就立即來電或詢問我們吧 !</p>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="banner-contact">
                    <div class="btn-inner">
                        <div class="tel">+886-2-2531-8006</div>
                        <span>立即來電洽詢/上班時間 AM9:00~PM:5:00</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                {% include '_button-booking.twig' %}
            </div>
        </div>
    </div>
</div>