<footer>
    <div class="footer-sns">
        <div class="container">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-weixin"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="footer-contact">寶馬旅行社有限公司 入境部 Pao Ma Travel Service<br>
        總 公 司 ：(02)2511-7373 傳真：(02)2511-7306<br>
        地址：台北市104中山區南京東路二段100號7樓之2<br>
        綜合旅行社 交觀綜2157號 品保協會會員北1234號<br>
        代表人：蔡興民 聯絡人：符宇帆 <br>
        聯絡我們：fuyunlin551002@hotmail.com</div>
        <ul class="footer-nav d-none d-lg-block">
            <li><h5>關於趣台灣</h5>
                <ul class="footer-subnav">
                    <li><a href="pickup.html">機場接送</a></li>
                    <li><a href="guide.html">旅遊達人</a></li>
                    <li><a href="message.html">留言板</a></li>
                </ul>
            </li>
            <li><h5>趣台灣行程</h5>
                <ul class="footer-subnav">
                    <li><a href="trip-index.html">熱門行程</a></li>
                    <li><a href="attraction-index.html">熱門景點</a></li>
                    <li><a href="customize.html">自行規劃</a></li>
                    <li><a href="promotion.html">本月特惠</a></li>
                    <li><a href="video.html">影音欣賞</a></li>
                </ul>
            </li>
            <li><h5>網站條款</h5>
                <ul class="footer-subnav">
                    <li><a href="privacy.html">隱私權說明</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer-cis">
            <img class="footer-logo" src="images/logo-w.png" alt="98 趣台灣">
            <a class="tel" href="tel:+886-2-2511-7373">+886-2-2511-7373</a>
        </div>
    </div>
</footer>
