<header>
    <a href="/" class="logo"><img src="images/logo.png" alt="98 趣台灣"></a>
    <nav>
        <ul class="header-nav">
            <li><a href="pickup.html">機場接送</a></li>
            <li><a href="trip-index.html">熱門行程</a></li>
            <li><a href="customize.html">自行規劃</a></li>
            <li><a href="promotion.html">本月特惠</a></li>
            <li class="header-nav-video"><a href="video.html">影音欣賞</a></li>
            <li class="header-nav-guide"><a href="guide.html">旅遊達人</a></li>
        </ul>
        <a href="message.html" class="header-nav-forum">留言板</a>
    </nav>
    <a class="nav-toggle-mobile d-block d-lg-none" href="#">
        <i class="icon-hamburger"></i>
        <span class="label">Menu</span>
    </a>
</header>
<div class="floater">
    <img src="/images/banner.gif">
</div>