<header>
    <a href="/" class="logo"><img src="images/logo.png" alt="98 趣台灣"></a>
    <nav>
        <ul class="header-nav">
            <li><a href="">機場接送</a></li>
            <li><a href="">熱門行程</a></li>
            <li><a href="">自行規劃</a></li>
            <li><a href="">本月特惠</a></li>
            <li class="header-nav-video"><a href="">影音欣賞</a></li>
            <li class="header-nav-guide"><a href="">旅遊達人</a></li>
        </ul>
        <a href="" class="header-nav-forum">留言板</a>
    </nav>
</header>