<div class="container">
  <div class="notice">
      <ol>
          <p>注意事項：</p>
        <li>符合抽獎資格者：
              <ul>
                  <li>即日起～2015/6/30至7-ELEVEN購買KKBOX儲值卡或於ibon購買KKBOX 180天儲值序號、365天儲值序號。<a href="http://www.kkbox.com/click.php?from=4be384ec" target="_blank">儲值序號購買方式</a></li>
                  <li>在活動期間內，上網成功儲值KKBOX序號。</li>
                  <li>至會員中心填寫正確姓名、聯絡電話(請填手機號碼)，與現居地的地址。</li>
              </ul>
          </li>
        <li>得獎名單將於2015/7/15前公告，並發送簡訊至得獎者的手機號碼。得獎者請於收到得獎通知後，於2015/7/31前完成領獎程序，未完成視同放棄抽獎。</li>
        <li>本活動贈品將於8月底前寄發至得獎者提供之地址（僅限台、澎、金、馬地區），如因得獎者提供的地址錯誤被退回，將視為放棄贈品，不再補寄。</li>
        <li>凡參加活動者，即視同承認及接受本活動注意事項及相關規定，若有未盡事宜，悉依 KKBOX 相關規定，KKBOX 保留隨時更改、終止活動內容及注意事項之權利。</li>
        <li>本活動如有任何因電腦、網路電話線路等或其他不可歸責於活動主辦單位之因素，而使參加本活動者所寄出或登記的資料有遺失、錯誤等所導致資料無效之情況，KKBOX 不負任何法律責任，參與本活動者或得獎者亦不得因此異議。</li>
        <li>若有違背上述之規定， KKBOX保有相關法律追訴權。</li>
        <li>活動結束後如有任何問題，請於二個月內向活動單位申請查詢，超過活動結束後二個月之案件不予處理。</li>
        <li>本活動得獎通知及領獎事宜，將由活動廠商願境網訊股份有限公司負責執行。</li>
          <li>KKBOX線上客服：<a href="https://cs.kkbox.com.tw/" target="_blank">https://cs.kkbox.com.tw/</a></li>
      </ol>
  </div>
</div>