<div class="pagination">
    <a href="#" class="prev"><i class="icon-arrow-left"></i>PREV</a>
    <div class="d-none d-md-inline-block">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <span>...</span>
        <a href="#">10</a>
    </div>
    <a href="#" class="next disabled">NEXT<i class="icon-arrow-right"></i></a>
</div>