<ul class="row">
{% for i in range(0, 3) %}
    <li class="col-xs-12 col-sm-3">
        <div class="playlist"> <!-- 一張歌單卡片 -->
            <div title="" class="cover" href="/tw/tc/column/playlists-0-1222-1.html">
                <img src="placeholder/playlist.jpg">
                <div class="overlay">
                    <div class="overlay-action">
                        <button class="js-share-lightbox" data-title="棉花糖特輯" data-web-full-url="http://www.johnhuang.dev6.test.kkcorp/tw/tc/playlist/WmaQGdOBH0QFC0KTGb" data-short-url="http://kkbox.fm/0D0N00">
                            <i class="icon icon-45 icon-45-share"></i>
                        </button>
                        <button class="play-all-btn " data-href="kkbox://play_playlist_WmaQGdOBH0QFC0KTGb" rel="WmaQGdOBH0QFC0KTGb" data-name="棉花糖特輯">
                            <i class="icon icon-45 icon-45-onplay"></i>
                        </button>
                        <button class="add-all-btn " data-href="kkbox://add_playlist_WmaQGdOBH0QFC0KTGb" rel="WmaQGdOBH0QFC0KTGb" data-name="棉花糖特輯">
                            <i class="icon icon-45 icon-45-onadd"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="height-wrap">
                <h3>
                    <a title="歌單名" href="/tw/tc/playlist/4l44z058hw1HsQbS6N">歌單名預留兩行歌單名預留兩行歌單名預留兩行</a>
                </h3>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

