{% extends '_base.twig' %}

{% block css %}
    <link href="css/form.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 class="section-title">立即報名 ‧ 熱門行程</h2>
    <h4 class="section-subtitle">旅遊的事，就放心交給我們吧</h4>
    <p class="section-text u-align-center">在臺灣，每個所到之處，多樣的文化特質都充沛鼓動著<br>
        雕龍畫棟的廟宇與現代的街道完美吻合<br>
        還有許多世界級餐廳隨時提供您最正統的各式中華料理<br>
        就等您規劃出來，讓我們帶您去您想去的地方
    </p>
    <div class="full-width full-width--beige d-none d-lg-block">
        <div class="container">
           <h3 class="media-title">Information</h3>
           <h5 class="media-subtitle">お問い合わせフォーム</h5>
           <p>我們將您珍貴的旅遊計劃，透過多年專業的旅行家，為您真正的量身訂作出流暢、舒服、貼心的旅程<br>
只要填寫以下的訊息交給我們，包含一切旅程及住宿您都可以全面安心<br>
若您對我們所提供的產品及服務有任何的疑問或建議，請留下訊息及聯絡資料，我們將儘速為您處理，謝謝！
           </p>
           <p class="remark">請務必留下正確的訊息及聯絡資料，若有特殊需求請詳細註明，謝謝！</p>
        </div>
    </div>

    <div class="container">
        <form class="form">
            <div class="required-mark">※ 必須</div>
            <div class="form-item">
                <label for="cname">您的全名</label>
                <input type="text" class="form-textfield" id="cname" placeholder="正確填寫您的姓氏與名字。舉例：符宇帆">
            </div>
             <div class="form-item">
                <label for="email">電子信箱<i class="required">※</i></label>
                <input type="text" class="form-textfield" id="email">
            </div>
            <div class="form-item">
                <label>行程名稱</label>
                <p>【連休假期】農場+海洋公園歡樂2日(經濟篇 )參考售價 : 3990元 </p>
            </div>
            <div class="form-item">
                <label>參加人數</label>
                <span>
                    <select>
                        <option>4</option>
                    </select>
                    成人
                </span>
                <span>
                    <select>
                        <option>1</option>
                    </select>
                    12 歲以下小孩
                </span>
                <span>
                    <select>
                        <option>0</option>
                    </select>
                    嬰兒
                </span>
                <p class="remark">注意：價格將按照您的人數及需求而改變，價格僅供參考，實際價格將依照您的訂單需求報價給您</p>
            </div>
            <div class="form-item">
                <label for="tel">您的聯絡電話</label>
                <input type="phone" id="tel" placeholder="國際電話請注意填寫國碼">
            </div>
            <div class="form-item">
                <label for="misc">您的旅程相關需求</label>
                <fieldset>
                    <input type="checkbox" name="misc"><label>簽證或來台其它相關</label><br>
                    <input type="checkbox" name="misc"><label>來回或單程機票</label><br>
                    <span>
                        <input type="checkbox" name="misc"><label>飯店訂房：</label>
                    </span>
                    <br class="d-block d-md-none">
                    <span>
                        <input type="radio" name="room"><label>一星級</label>
                        <input type="radio" name="room"><label>二星級</label>
                        <input type="radio" name="room"><label>三星級</label>
                        <br class="d-block d-md-none">
                        <input type="radio" name="room"><label>四星級</label>
                        <input type="radio" name="room"><label>五星級</label>
                    </span><br>
                    <span><input type="checkbox" name="misc"><label>機場接送</label></span><br>
                    <span><input type="checkbox" name="misc"><label>其他</label></span>
                    <span><input type="text" placeholder="特殊的票券或門票。舉例：我想去礁溪泡溫泉和故宮看展"></span>
                </fieldset>
            </div>
            <div class="form-item">
                <label for="special">您的特殊需求描述</label>
                <textarea class="form-textarea" id="special" rows="8" placeholder="明確的填寫您的特殊需求，我們將依照您的需求為您訂做出最佳的品質&#10;
舉例：我們有五人，其中兩人希望全程均住五星飯店，希望五人一起玩
但是住不同的飯店"></textarea>
            </div>
            <p>親愛的朋友們，趣台灣旅遊網絕對保護與尊重您個人的隱私權，並依據「個人資料保護法」制定下述規範
請您詳細閱讀趣台灣旅遊網線上搜集使用者個人資料的方式、範圍、利用方法、以及查詢或更正的方式等事項；
有任何疑問，可以利用電子郵件和我們客服中心聯絡，我們將儘快回覆說明。</p>
            <div class="form-term">
                對於客戶資料絕對保密，我們不會將您的資料提供給第三人，或移作其他目的使用。當您參與
我們各類旅遊服務時，您所提供之個人資料皆會儲存於安全防護之系統中。當您點選不屬於本
網站或網頁連結時，請您注意網站安全性。歡迎您安心使用我們所提供之各項服務，若若有任
何疑問，竭誠歡迎您來電(02)2511-7373與我們聯絡。
            </div>

            <div class="form-agree"><input type="checkbox" name="misc">※ 點擊左側方框，即表示您已閱讀並同意旅遊契約條款</div>
            <button class="btn-action btn-action--black btn-action--narrow"><span class="ok">ok</span>完成訂購</button>
        </form>
    </div>
{% endblock %}