{% extends '_base.twig' %}

{% block css %}
    <link href="css/product.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="section-title">旅遊達人介紹</h2>
        <h4 class="section-subtitle">讓最具經驗的達人為您帶路!</h4>
        <p class="section-text u-align-center">服務更多元，旅程更豐富，為您量身訂作的美好旅程<br>現在就立即來電或詢問我們吧 !</p>
        <div class="media-item media--imgright media--almond">
            <img class="media-img" src="images/guide-johnl.jpg" alt="呂坤原 John / 綽號小呂">
            <div class="media-content">
                <h3 class="media-title">呂坤原 John / 綽號小呂</h3>
                <div class="media-text">座右銘. 旅遊就是享受人生第一步！<br>
                經歷..十五年導遊領隊資歷<br>
                想說的話.. 走過千山與萬水，想要看見台灣美，四處尋訪不知誰，不如跟我走一回。</div>
            </div>
        </div>
        <div class="media-item media--imgleft media--gray">
            <img class="media-img" src="images/guide-canon.jpg" alt="崔倍隆..Canon. 綽號小崔">
            <div class="media-content">
                <h3 class="media-title">崔倍隆..Canon. 綽號小崔</h3>
                <div class="media-text">座右銘.好朋友就是不計較<br>
                經歷..十年飛行經驗.十年導遊領隊資歷.<br>
                想說的話.有朋自遠方來不易.只能全力以赴.完成最美回憶</div>
            </div>
        </div>
        <div class="media-item media--imgright media--almond">
            <img class="media-img" src="images/guide-jason.jpg" alt="陳志宏..Jason. 綽號阿宏">
            <div class="media-content">
                <h3 class="media-title">陳志宏..Jason. 綽號阿宏</h3>
                <div class="media-text">座右銘.女兒是前世情人.客人是今世的恩人..<br>
                經歷..十年導遊領隊資歷.<br>
                想說的話..<br>
                台灣最美的風景是人.<br>
                最帥的導遊是我.<br>
                最好的客人是你們
                 </div>
            </div>
        </div>
        <div class="media-item media--imgleft media--gray">
            <img class="media-img" src="images/guide-bawan.jpg" alt="陳進异..Bawan綽號八萬">
            <div class="media-content">
                <h3 class="media-title">陳進异..Bawan綽號八萬</h3>
                <div class="media-text">座右銘：人若無辛苦，難得世間財..<br>
                經歷..8年導遊領隊資歷.<br>
                想說的話.. 旅行是最好的放鬆，旅遊是會上癮</div>
            </div>
        </div>
        <div class="media-item media--imgright media--almond">
            <img class="media-img" src="images/guide-johnj.jpg" alt="江榮儀 John / 小江">
            <div class="media-content">
                <h3 class="media-title">中文名字：江榮儀<br>
                                        英文名字：John<br>
                                        綽號：小江</h3>
                <div class="media-text">經歷：8 年導遊資歷<br>
                座右銘：衝衝衝<br>
                想說的話：帶給每個旅人豐富的台灣文化，知識，回憶，歡樂！！
                </div>
            </div>
        </div>
    </div>

{% endblock %}