{% extends '_base.twig' %}

{% block css %}
    <link href="css/product.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <h2 class="section-title">機場包車</h2>
    <h4 class="section-subtitle">給您最信賴的品質</h4>
        <div class="container">
            <div class="media-item media--imgright">
                <img class="media-img" src="images/pickup1.jpg" alt="">
                <div class="media-content">
                    <h1 class="media-title">最佳的車況<br>最親切的服務<br><br><span>The Best Service</span></h1>
                    <div class="media-text">機場接送費用相當合理與實惠，讓乘客用合理的價格費得到安全舒適的服務，趣台灣機場接送車隊具備安全、平穩、舒適、準時、確實、信用的服務精神。歷年來，受到廣大乘客的惠顧，並建立了長期配合的信賴。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-width full-width--white u-overlap-section">
        <div class="container">
            <div class="media-item media--imgleft media--imgvertical">
                <img class="media-img" src="images/pickup2.jpg" alt="">
                <img class="media-img" src="images/pickup3.jpg" alt="">
                <div class="media-content">
                    <h1 class="media-title"><span>The Best Team</span><br>最專業的司機團隊<br>給您最信賴的旅程</h1>
                    <div class="media-text">針對桃園機場接送的服務範圍，包括：台北到桃園機場接送,新竹到桃園機場接送。其它縣市如台中、台南、彰化等地區，需要到桃園機場接送的旅客，也歡迎與我們聯繫，我們有各區域合作的業者能提供優質的機場接送服務，而機場接送費用也相當合理。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-width full-width--almond u-overlap-section">
        <div class="container">
            <h5 class="table-title">送機&amp;接機價格</h5>
            <div class="slider-mobile">
                <table class="pickup-table">
                    <tr>
                        <th>機場送機</th>
                        <th>五人座車</th>
                        <th>九人座車</th>
                        <th>九人加長加高</th>
                        <th>BENZ</th>
                    </tr>
                    <tr>
                        <td>上下車地點</td>
                        <td>高級轎車</td>
                        <td>豪華商務</td>
                        <td>豪華保母</td>
                        <td>S Class</td>
                    </tr>
                    <tr>
                        <td>桃園&rarr;機場</td>
                        <td>NT$600</td>
                        <td>NT$900</td>
                        <td>NT$1,600</td>
                        <td>NT$1,100</td>
                    </tr>
                    <tr>
                        <td>台北&rarr;機場</td>
                        <td>NT$900</td>
                        <td>NT$1,100</td>
                        <td>NT$2,000</td>
                        <td>NT$1,400</td>
                    </tr>
                    <tr>
                        <td>新竹&rarr;機場</td>
                        <td>NT$1,100</td>
                        <td>NT$1,300</td>
                        <td>NT$2,400</td>
                        <td>NT$1,600</td>
                    </tr>
                    <tr>
                        <td>基隆&rarr;機場</td>
                        <td>NT$1,200</td>
                        <td>NT$1,400</td>
                        <td>NT$2,600</td>
                        <td>NT$1,800</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="readme-title">車型照片與介紹<span>The Car Types</span></h3>
        <img src="images/pickup4.jpg" alt="">
        <div class="caption">5~9人座車專業司機團隊</div>

        <img src="images/pickup5.jpg" alt="">
        <div class="caption">雙B豪華轎車</div>

        <img src="images/pickup6.jpg" alt="">
        <div class="caption">七人座豪華休旅車</div>


        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="images/pickup7.jpg" alt="">
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="images/pickup8.jpg" alt="">
            </div>
        </div>
        <div class="caption">七人座豪華休旅車 / 寬敞舒適的車室空間</div>

        <img src="images/pickup9.jpg" alt="">
        <div class="caption">九人加長加寬</div>

        <img src="images/pickup10.jpg" alt="">
        <div class="caption">車室空間實拍</div>

        <img src="images/pickup11.jpg" alt="">
        <div class="caption">九人加長加寬</div>

        <img src="images/pickup12.jpg" alt="">
        <div class="caption">大型豪華巴士</div>

        <div class="readme">
            <h3 class="readme-title">費用相關說明<span>Arranging A Trip</span></h3>
            <p class="section-text">以上費用包含：油費、路費、停車費與代雇司機工資、食、宿、小費、乘客投保每人投保300萬人身意外險和醫療險。機場接送機，每多出一個上下車地點，加收NT$100~NT$200元；偏遠地區加收NT$100~NT$300元。<br>
                機場接送機，舉牌需另加NT$100, 舉牌在入境大廳右邊.<br>
                訂車可多利用預約單, 內容會比較清楚又節省電話費.<br>
                機場接送遇飛機誤點、長時間等候、深夜、凌晨、假日、春節期間絕不加價。
            </p>
        </div>
    </div>
{% endblock %}