{% extends '_base.twig' %}



{% block content %}
    <div class="container">
        <h2 class="section-title">隱私權說明</h2>
        <h4 class="section-subtitle">隱私權保護政策與個人資料告知事項</h4>
        <p class="section-text">對於客戶資料絕對保密，我們不會將您的資料提供給第三人，或移作其他目的使用。當您參與我們各類旅遊服務時，您所提
    供之個人資料皆會儲存於安全防護之系統中。當您點選不屬於本網站或網頁連結時，請您注意網站安全性。歡迎您安心使用
    我們所提供之各項服務，若若有任何疑問，竭誠歡迎您來電(02)2511-7373與我們聯絡。
        </p>
        <div class="privacy">
            <h2 class="section-title">隱私權保護政策與個人資料告知事項</h2>
            <p class="section-text">『趣台灣旅遊往』 為寶馬旅行社入境部（以下簡稱「本公司」）依據「個人資料保護法」告知下列事項：</p>

            <h3 class="privacy-subtitle">個人資料蒐集之目的</h3>
            <p class="section-text">為經營旅遊業務、其他本公司章程登記業務、履行您與本公司間契約相關事項，以及與本公司旅遊服務相涉週邊服務推廣、
與旅遊行銷之目的，本公司需蒐集您的個人資料。</p>

            <h3 class="privacy-subtitle">個人資料蒐集之類別</h3>
            <p class="section-text">本公司所蒐集之個人資料可能包括您的姓名、身分證字號和/或護照號碼、電話和/或手機號碼、電子郵件、信用卡資料與
其他聯絡或遞送方式等。</p>

            <h3 class="privacy-subtitle">個人資料利用之期間、地區、對象及方式</h3>
            <p class="section-text">於本公司存續期間內，本公司將於上述蒐集目的之必要範圍內，蒐集、處理、利用、國際傳輸您的個人資料；為前述蒐集
之目的，本公司將傳輸您的個人資料至本公司之海內外（其中包含您旅遊之目的地以及國際旅遊服務所需資料傳輸之國家）
分支機構、關係企業或其他受本公司委託處理您個人資料之第三人。</p>

            <h3 class="privacy-subtitle">您於「個人資料保護法」第3條下之權利</h3>
            <p class="section-text">您了解就提供予本公司之個人資料，您有權向本公司(1)查詢或請求閱覽；(2)請求製給複製本；(3)請求補充或更正；(4)請求
停止蒐集、處理或利用，以及(5)請求刪除。如欲行使上述權利，請檢附相關證明文件向本公司提出書面請求，相關手續細節，
請隨時上本公司官網（）查詢。</p>
            <h3 class="privacy-subtitle">當事人不提供個人資料對其權益之影響</h3>
            <p class="section-text">您可以自由決定是否提供上述個人資料予本公司。惟您亦了解如不提供該等個人資料，本公司或將無法執行相關作業或向您
提供相關服務。</p>
            <h3 class="privacy-subtitle">個人資料之來源</h3>
            <p class="section-text">如果您係向國內外旅行社或透過您的其他代理人訂購本公司之旅遊服務或其他相關服務，本公司係自該等旅行社或代理人取
得您的個人資料以便對您提供服務。</p>
            <h3 class="privacy-subtitle">本隱私權保護政策與個人資料告知事項 (以下簡稱「隱私權保護政策」)</h3>
            <p class="section-text">不適用於本公司以外的公司或網站群，與非本公司所僱用或管理人員。例如您透過本公司旗下網站上的廣告廠商連結，這些
置放連結的廠商也可能蒐集您個人的資料。對於您主動提供的個人資訊，這些廣告廠商或連結網站有其個別的隱私權保護政
策，其資料處理措施不適用於本公司隱私權保護政策。</p>
            <h3 class="privacy-subtitle">為保障您的隱私及安全</h3>
            <p class="section-text">您在本公司旗下網站所使用的相關帳號、密碼與資料，本公司會依個人資料保護法之規定採取加密保護或其他適當之安全措施。</p>
            <h3 class="privacy-subtitle">自我保護措施</h3>
            <p class="section-text">請妥善保管您在本公司旗下網站的個人資料，不要將任何資料，尤其是密碼提供給任何人。在您使用完本公司旗下網站所提供
的服務後，務必記得關閉網頁瀏覽器，以防止他人讀取您的個人資料。</p>
            <h3 class="privacy-subtitle">看法和建議</h3>
            <p class="section-text">擁有任何看法與建議，歡迎您與我們聯繫。<br>
寶馬旅行社- 入境部客服 符先生<br>
連絡電話: +886-2-2511-7373

</p>
        </div>

    </div>

{% endblock %}