{% extends '_base.twig' %}

{% block css %}
    <link href="css/product.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="section-title">本月特惠</h2>
        <h4 class="section-subtitle">在此將您的精彩回憶盡情寫下!</h4>
        <ul class="entry-list">
            {% for i in 0..2 %}
            <li><a href="#">二人以上成行，包車３天以上：即贈機場接機免費。（均以佔床成人計）</a></li>
            {% endfor %}
        </ul>
        {% include 'partials/_pagination.twig' %}
    </div>
{% endblock %}