{% extends '_base.twig' %}

{% block css %}
    <link href="css/product.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 class="section-title">行程內容</h2>
    <h4 class="section-subtitle">給您最優質的品質</h4>
    <div class="breadcrumb"><a href="#">首頁</a> &gt; <a href="#">行程-台北</a> &gt; <span>北台灣知性二日遊</span></div>
    <div class="media-trip">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="media-content">
                        <h1 class="media-title">【輕鬆假期】北台灣知性２日遊</h1>
                        <h2 class="media-subtitle">參考售價 : 費用按包車人數及車輛種類計算。</h2>
                        <div class="media-remark">行程編號：98GO02001</div>
                        <div class="feature">
                            <h3 class="feature-title">行程特色</h3>
                            <ul class="feature-list">
                                <li>特別安排國際級故宮博物館半天文化巡禮</li>
                                <li>結合北台灣最熱門的三大景點：九份、十分、淡水老街</li>
                                <li>專業有執照司導全程介紹</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img class="media-img" src="images/trip-2d.jpg" alt="北台灣知性２日遊">
                </div>
            </div>
        </div>
    </div>
    <div class="trip-daily">
        <div class="container">
            <div class="trip-daily-header">
                <div class="trip-daily-left">
                    <div class="trip-daily-mark"><span>DAY 1</span></div>
                </div>
                <div class="trip-daily-right">
                    <div class="trip-daily-day">第一天</div>
                    <div class="trip-daily-route">台北 +++ 中烈祠 → 故宮博物院 → 淡水老街 → 士林夜市 → 飯店休息</div>
                </div>
            </div>
            <div class="trip-daily-desc">早餐後前往忠烈祠參觀著名的衛兵交接。隨後前往故宮博物館參觀，一賭翠玉白菜等千年的中國古物。<br>午後續前往愛情聖地漁人碼頭和淡水河出口的淡水老街遊覽。傍晚前往台灣最大的觀光夜市『士林夜市』。
            </div>
            <div class="trip-daily-meal-hotel">
                <i class="trip-daily-meal"></i>餐食：早-敬請自理　 午-風味午餐　 晚-敬請自理
                <i class="trip-daily-hotel"></i>住宿：台北地區優質飯店
            </div>
            <div class="trip-daily-header">
                <div class="trip-daily-left">
                    <div class="trip-daily-mark">DAY 2</div>
                </div>
                <div class="trip-daily-right">
                    <div class="trip-daily-day">第二天</div>
                    <div class="trip-daily-route">台北 +++ 十分老街 → 九份 → 野柳 → 台北西門町→飯店(結束旅程)</div>
                </div>
            </div>
            <div class="trip-daily-desc">早餐後前往十分老街體驗放天燈的樂趣。隨後前往九份老街，欣賞山城美景和美味小吃。<br>
            午後續往黃金瀑布和著名的石灰岩地型『野柳』遊覽並與女王頭合影。<br>
            傍晚可選擇基隆夜市小吃或返回台北西門町逛街，之後返回酒店結束一天行程。<br>
                <em>表中所列各景點停站時間僅供參考，出發後可能依實際交通狀況略作調整；<br>本網保留變更、修改行程之權利，感謝您的體諒。</em>
            </div>
            <div class="trip-daily-meal-hotel">
                <i class="trip-daily-meal"></i>餐食：早-敬請自理　 午-風味午餐　 晚-敬請自理
                <i class="trip-daily-hotel"></i>住宿：台北地區優質飯店
            </div>
        </div>
    </div>

    <div class="container" id="trip-content">
        <img src="images/trip-photo1.jpg">
    </div>

    <div class="container">
        <a href="#" class="btn-action btn-action--orange">
            <div class="btn-inner">立即報名參加</div>
        </a>

        <div class="banner-contact--xl">
            <div class="banner-contact-left">
                <div class="banner-title">立即來電詢問<br>
                    <span>Contact Us Now</span>
                </div>
            </div>
            <div class="banner-contact-right">
                <div class="tel">+886-2-2531-8006</div>
                <span>請於上班時間來電 : AM : 9:00~PM : 5:00</span>
                <span class="remark">行程均量身訂作，網站價格僅供參考</span>
            </div>
        </div>

        <div class="readme">
            <h3 class="readme-title">行程相關說明<span>Arranging A Trip</span></h3>
            <dl>
                <dt>費用包括</dt>
                <dd>全日專業執照司導導覽<br>
                全程高級房車來回<br>
                油資及停車費<br>
                過路費及各景點門票<br>
                ２００萬旅遊險＋２０萬意外醫療險</dd>
            </dl>
            <dl>
                <dt>費用不包括</dt>
                <dd>全程午晚餐餐費<br>
                住宿費及導遊小費</dd>
            </dl>
            <dl>
                <dt>作業說明</dt>
                <dd>1.成行人數：2人以上成團<br>
                2.訂金繳交期限：經客服人員確認後1天內<br>
                3.尾款繳交期限：以客服人員回覆為準 。</dd>
            </dl>
            <dl>
                <dt>備註</dt>
                <dd>價格如有調整，以去台灣旅遊網網站公告之新價格為準，恕不另行通知。<br>
                本商品嬰兒定義：限制為2歲以下。 (僅含保險費用)<br>
                本商品兒童定義：12歲以下且限制身高140cm以下之兒童。<br>
                本商品兒童不佔床定義：2歲以上且限制身高110cm以下之兒童。<br>
                若因實際出發後兒童身高超出上述限制規定，將於現場補足實際產生之費用。<br>
                於農場遊園時如需自費租用電動車者，請務必攜帶駕駛者的有效駕照正本。<br>
                視天氣、時間及玩樂狀況由當地嚮導協調安排行程。<br>
                若遇天氣不佳或航班更改或不可抗拒之因素，本公司保有取消或變更行程的權利。<br>
                本網站不負責因可歸責於旅客事由（如遲到等）所導致無法成行之損失，旅遊費用不予退還。</dd>
            </dl>
        </div>
    </div>
{% endblock %}